<div class="constrain">
  <div class="main-page-content">
    <div class="left-content">

      <div class="current-jobs">
        <h1 class="top">Truck Driver Jobs in Alabama:</h1>
        <p class="bottom">Current truck driver jobs in Alabama from the leading trucking companies hiring on truckdriverjobs.com. Review the companies hiring in alabama and apply directly to the company(s) of your choice.</p>
        <h2 class="state-title">ALABAMA TRUCKING JOBS</h2>
      </div>

      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>
      <%= render 'layouts/company_listing' %>


      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/pagination.png" id="pagination" style="width: 400px;display:block;margin:0 auto;" alt="pagination" /> 

    </div><!-- end left-content --> 

    <div class="right-sidebar">

      <%= render 'layouts/quick_apply_button' %>

      <%= render 'layouts/sidebar_job_categories' %>

      <%= render 'layouts/sidebar_sponsors' %>

    </div><!-- end right-sidebar --> 
  </div><!-- end main-page-content --> 
</div><!-- end constrain --> 


