<div class="constrain">
  <div class="main-page-content">
    <div class="left-content">

      <div class="company-row clearfix">
        <a href="#" target="_blank" class="company-unit" title="CompanyName">
          <p class="name">HeartLand Express</p>
          <p class="phone">1-800-777-9876</p>
          <div class="content">
            <p>We are committed to ensuring our drivers are rewarded for their hard work through.</p>
          </div>
        </a>
        <a href="#" target="_blank" class="company-unit" title="CompanyName">
          <p class="name">Hub Group</p>
          <p class="phone">1-800-777-9876</p>
          <div class="content">
            <p>We are committed to ensuring our drivers are rewarded for their hard work through.</p>
          </div>
        </a>
      </div>

      <div class="current-jobs">
        <h1 class="top">
          <span class="blue">Current </span>
          <span class="orange">Local Flatbed Driver </span>
          <span class="blue">Jobs in Albany, GA:</span>
        </h1>
        <p class="bottom">394 Local Flatbed Driver Jobs available on truckdriverjobs.com.</p>
      </div>

      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>


      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/pagination.png" id="pagination" style="width: 400px;display:block;margin:0 auto;" alt="pagination" /> 

    </div><!-- end left-content --> 

    <div class="right-sidebar">

      <%= render 'layouts/quick_apply_button' %>

      <div class="company-column">
        <a href="#" target="_blank" class="company-unit" title="CompanyName">
          <p class="name">HeartLand Express</p>
          <p class="phone">1-800-777-9876</p>
          <div class="content">
            <p>We are committed to ensuring our drivers are rewarded for their hard work through.</p>
          </div>
        </a>
        <a href="#" target="_blank" class="company-unit" title="CompanyName">
          <p class="name">Hub Group</p>
          <p class="phone">1-800-777-9876</p>
          <div class="content">
            <p>We are committed to ensuring our drivers are rewarded for their hard work through.</p>
          </div>
        </a>
        <a href="#" target="_blank" class="company-unit" title="CompanyName">
          <p class="name">Hub Group</p>
          <p class="phone">1-800-777-9876</p>
          <div class="content">
            <p>We are committed to ensuring our drivers are rewarded for their hard work through.</p>
          </div>
        </a>
      </div>

      <%= render 'layouts/sidebar_job_categories' %>

      <%= render 'layouts/sidebar_sponsors' %>

    </div><!-- end right-sidebar --> 
  </div><!-- end main-page-content --> 
</div><!-- end constrain --> 


