<div class="single-job-post">
  <div class="constrain">

    
    <div class="left-content">

      <div class="top-info">
        <h1 class="title">Local Team Flatbed Truck Driver Job in Albany, GA</h1>
        <p class="post-details">
          Posted in 
          <a href="#" class="cat-link" title="Local">Local</a>, 
          <a href="#" class="cat-link" title="Company Driver">Company Driver</a>, 
          <a href="#" class="cat-link" title="Team Driver">Team Driver</a>, 
          <a href="#" class="cat-link" title="Flatbed">Flatbed</a> on August 21, 2014
        </p>
      </div>

      <div class="profile-section">
        <div class="logo-container">
          <div class="logo-holder">
            <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/company_logos/melton_logo.png" alt="Company Name" class="logo">
          </div>
        </div>
        <div class="buttons">
          <h2 class="company-name">Melton Truck Lines</h2>
          <a href="#" class="apply btn" title="Apply"><span class="text">Click to Apply</span> <span class="arrows">>></span></a>
          <a href="#" class="blue btn" title="Quick Apply"><span class="text">Quick Apply</span> <span class="arrows">>></span></a>
        </div>
      </div>

      <table class="job-meta">
        <tr>
          <td>Company Phone</td>
          <td>866-464-4927</td>
        </tr>
        <tr>
          <td>Company Website</td>
          <td><a href="http://www.meltontruck.com" target="_blank" title="CompanyName">http://www.meltontruck.com</a></td>
        </tr>
        <tr>
          <td>Job Type</td>
          <td>Full Time</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>Albany, GA</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>Albany, GA</td>
        </tr>
      </table>

      <div class="section job-description">
        <h3 class="section-title">Job Description:</h3>
        <div class="share-btns"></div>
        <p class="job-details">Local Team Flatbed Truck Driver Job - Albany, Georgia</p>
        <div class="content">
          <p>Class A CDL Flatbed Drivers</p>

          <p>We are committed to ensuring our drivers are rewarded for their hard work through exceptional base pay, tarp pay, benefits, as well as bonus and recognition programs. We have a history of setting the standard in Driver Compensation. In fact, in a recent survey conducted by the National Survey of Driver Pay, we are positioned in the Top 1% Pay for all companies nationwide. Best of all, our drivers are moving 12 months out of the year because we transport a variety of commodities within driver-friendly shipping lanes.</p>

          <p>Top Pay and Benefits aren’t the only factors in making a company the right choice for you. Recently, we were named in the -Top 20 Best Fleets to Drive For- according to the Carriers Edge and Truckload Carriers Association for the second year. We achieved this honor by being nominated by our drivers and having programs and systems available to help our drivers succeed. Some of these include: The President’s Clubs, Lifeworks, ICARE Wellness Program, Safety Rewards, regular Driver Satisfaction Surveys, and much more.</p>

          <p>We are increasing our fleet, as well as expanding our applicant base! If you are a recent CDL School graduate or have at least 1 month OTR driving experience, give us a call.</p>

          <h5>Requirements</h5>

          <ul>
            <li>Drivers must have the following CDL class(es): Class A</li>
            <li>Drivers must have the following: CDL endorsements</li>
            <li>Driver’s minimum age required to work: 21 years old</li>
            <li>Driver’s minimum amount of experience required to work: No Experience Needed</li>
            <li>If a driver has a DUI/DWI, how old must it be? At least 5 years ago</li>
            <li>If a driver has a felony, how old must it be? At least 7 years ago</li>
            <li>Maximum Moving Violation Restrictions for past 3 years: 4</li>
            <li>Maximum Preventable Accident Restrictions past 3 years: 2</li>
          </ul>

          <h5>Benefits</h5>

          <ul>
            <li>Cost Driver Benefits: $30 to $ 76 p/month</li>
            <li>Cost Family Benefits: $125 to $337 p/month</li>
            <li>Dental: YES</li>
            <li>Vision: YES</li>
            <li>Retirement: YES</li>
            <li>Bonuses, Other Pay, Miscellaneous</li>
          </ul>
        </div>
      </div>


      <div class="job-details">
        <p>Albany, Georgia Local Team Flatbed Truck Driver Job</p>
        <p>Melton Truck Lines Local Team Flatbed Truck Driver Job in Albany, GA</p>
      </div>

      <div class="section how-to-apply">
        <h3 class="section-title">How to Apply:</h3>
        <a href="#" class="apply btn" title="Apply"><span class="text">Click to Apply</span> <span class="arrows">>></span></a>
        <a href="#" class="blue btn" title="Quick Apply"><span class="text">Quick Apply</span> <span class="arrows">>></span></a>
      </div>

      <% 
        id = "map-canvas"
        lat = "33.210596"
        lng = "-87.566408"
        zoom = "12"
        info = ""
      %>

      <div class="section map-container">
        <h3 class="section-title">Location on Map:</h3>
        <div id="map-canvas"></div>
      </div>


    </div><!-- end left-content --> 



    <div class="right-sidebar">

      <div class="other-jobs">
        <p class="section-title">Other Jobs Listed by this Company</p>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
        <div class="job-listing">
          <h4>
            <a href="#" class="name" title="Local Team Flatbed Truck Driver Job in Albany, GA">Local Team Flatbed Truck Driver Job in Albany, GA</a>
            <p class="company">Melton Truck Lines</p>
          </h4>
          <p class="date">August 20, 2014</p>
        </div>
      </div>

    </div><!-- end right-sidebar --> 

  </div>
</div>


<!-- Load the map --> 
<% content_for :js do %>
  <script>
    var mapCanvasId, mapCenterLat, mapCenterLng, mapDefaultZoom;
    var map_style = [{"featureType":"landscape","stylers":[{"hue":"#F1FF00"},{"saturation":-27.4},{"lightness":9.4},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#fa7306"},{"saturation":-20},{"lightness":36.4},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#00FF4F"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FFB300"},{"saturation":-38},{"lightness":11.2},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0252c8"},{"saturation":4.2},{"lightness":-63.4},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#9FFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]}];

    mapCanvasId = "<%= id %>";
    mapCenterLat = <%= lat %>;
    mapCenterLng = <%= lng %>;
    mapDefaultZoom = <%= zoom %>;
    mapInfoText = "<%= info %>"; 
    mapInfoWindow = "<p style='padding:8px;'><%= info %></p>";

    function initialize() {
      console.log("initialize"); 
      var mapOptions = {
        center: new google.maps.LatLng(mapCenterLat, mapCenterLng),
        scrollwheel: false,
        zoom: mapDefaultZoom,
        styles: map_style
      };
      var map = new google.maps.Map(document.getElementById(mapCanvasId), mapOptions);

      var marker = new google.maps.Marker({
        position: {lat: mapCenterLat, lng: mapCenterLng},
        map: map
      });

      if(mapInfoText != "") {
        var info = new google.maps.InfoWindow({
          content: mapInfoWindow
        });

        info.open(map, marker);

        google.maps.event.addListener(marker, 'click', function() {
          info.open(map,marker);
        });
      }
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = "https://maps.googleapis.com/maps/api/js?v=3key=AIzaSyDENedoxisMHbY-o895uaR7xp_bPFHo-24&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;

  </script>
<% end %>