<div class="constrain">
  <div class="main-page-content">
    <div class="left-content">

      <div class="current-jobs">
        <h1 class="top">Flatbed Truck Driver Jobs:</h1>
        <p class="bottom">394 Flatbed Truck Driver Jobs available on truckdriverjobs.com.</p>
      </div>

      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>
      <%= render 'layouts/job_post_listing' %>

      <img src="//d2ju3eumzwbxuv.cloudfront.net/assets/pagination.png" id="pagination" style="width: 400px;display:block;margin:0 auto;" alt="pagination" /> 

    </div><!-- end left-content --> 

    <div class="right-sidebar">

      <%= render 'layouts/quick_apply_button' %>

      <%= render 'layouts/sidebar_job_categories' %>

      <%= render 'layouts/sidebar_sponsors' %>

    </div><!-- end right-sidebar --> 
  </div><!-- end main-page-content --> 
</div><!-- end constrain --> 


