<%= render :partial => 'companies/admin_header' %>

<p><a href='/admin/listings/new' id='new_listing'>New Add-on Listing</a></p>

<% if (@listings.count > 0) %>
  <table class='data'>
    <tr>
      <th>Status</th>      
      <th>Content</th>
      <th>Categories</th>
    </tr>
    <% @listings.each do |listing| %>
      <tr onclick="window.location='<%= listing.url %>';">
        <td><%= listing.status    %></td>        
        <td><%= listing.content   %></td>
        <td><%= listing.categories.collect { |cat| cat.name }.join(", ") %></td>        
      </tr>
    <% end %>
  </table>
  <p><%= raw @pager.generate %></p>
<% else %>
  <p>No add-on listings found for this company.</p>
<% end %>

<%= render :partial => 'companies/admin_footer' %>

<% content_for :caboose_js do %>
<script type="text/javascript">

$(document).ready(function() {  
  $('#new_listing').click(function(e) {
    e.preventDefault();
    add_listing();    
  });
});

function add_listing() 
{
  $('#new_message').html("<p class='loading'>Adding listing...</p>");
  $.ajax({
    url: '<%= @company.url %>/listings',
    type: 'post',    
    success: function(resp) {
      if (resp.error) $('#new_message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

</script>
<% end %>
