<%= render :partial => 'jobs/admin_header' %>

<p><div id='jobposting_<%= @job.id %>_view_count_home'      ></div></p>
<p><div id='jobposting_<%= @job.id %>_view_count_search'    ></div></p>
<p><div id='jobposting_<%= @job.id %>_view_count_category'  ></div></p>
<p><div id='jobposting_<%= @job.id %>_view_count_sponsored' ></div></p>
<p><div id='jobposting_<%= @job.id %>_view_count_other'     ></div></p>

<div id="message"></div>

<%= render :partial => 'jobs/admin_footer' %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type="text/javascript">

$(document).ready(function() {
  m = new ModelBinder({
    name: 'JobPosting',
    id: <%= @job.id %>,
    update_url: '<%= @job.company.url %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [
      { name: 'view_count_home'      , nice_name: 'Home'      , type: 'text'     , value: <%= raw Caboose.json(@job.view_count_home       ) %>, width: 400, align: 'right' },
      { name: 'view_count_search'    , nice_name: 'Search'    , type: 'text'     , value: <%= raw Caboose.json(@job.view_count_search     ) %>, width: 400, align: 'right' },
      { name: 'view_count_category'  , nice_name: 'Category'  , type: 'text'     , value: <%= raw Caboose.json(@job.view_count_category   ) %>, width: 400, align: 'right' },
      { name: 'view_count_sponsored' , nice_name: 'Sponsored' , type: 'text'     , value: <%= raw Caboose.json(@job.view_count_sponsored  ) %>, width: 400, align: 'right' },
      { name: 'view_count_other'     , nice_name: 'Other'     , type: 'text'     , value: <%= raw Caboose.json(@job.view_count_other      ) %>, width: 400, align: 'right' },      
    ]
  });  
});

</script>
<% end %>
