<%= render :partial => 'my_company_jobs/header' %>

<p><div id='jobposting_<%= @job.id %>_description'          ></div></p>

<%= render :partial => 'my_company_jobs/footer' %>

<% content_for :caboose_js do %>
<script type="text/javascript">

var mb = false;
$(document).ready(function() {
  mb = new ModelBinder({
    name: 'JobPosting',
    id: <%= @job.id %>,
    update_url: '/my-company/jobs/<%= @job.id %>',
    authenticity_token: '<%= form_authenticity_token %>',
    attributes: [      
      { name: 'description'          , nice_name: 'Description'          , type: 'richtext' , value: <%= raw Caboose.json(@job.description           ) %>, width: 800, height: 400 }      
    ]
  });  
});

</script>
<%= raw caboose_tinymce %>
<% end %>
