
<a href="/job/<%= job.slug %>" class="job-post-link" title="<%= job.title %>">
  <div class="job-post clearfix">
    <div class="left">
      <h3 class="title"><%= job.title %></h3>
    </div>
    <div class="right">
      <span class="date"><%= job.date_available ? job.date_available.strftime('%B %e, %Y') : DateTime.now.strftime('%B %e, %Y') %></span>
      <span class="city"><%= job.city %>, <%= job.state %></span>
      
    </div>
    <div class="logo-container">
      <div class="logo-holder">
        <% if job.company.logo %>
          <img src="<%= job.company.logo.url(:thumb) %>" alt="<%= job.company.name %>" class="logo">
        <% end %>
      </div>
    </div>
    <div class="job-content">
      <h4 class="company"><%= job.company.name %></h4>
      <div class="description">
        <% if job.mini_description && job.mini_description.strip.length > 0 %>     
          <%= raw Caboose.teaser_text(job.mini_description, 200) %>
        <% else %>
          <%= raw Caboose.teaser_text(job.description, 200) %>
        <% end %>
      </div>
    </div>
  </div>
</a>
